<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AHT_Question::question" title="Questions" module="AHT_Question" sortOrder="10" action="questionadmin/question/index" resource="AHT_Question::question"/>
    </menu>
</config>